
body{
    margin:0;
    padding: 0;
    /* background-color: #212529; */
}
.container-fluid{
    background-color: black;
  
        
}

.nav-link{
    color: #fff;
}
.navbar{
    padding-bottom: 0;
    width: 100%;
}
.topright{
    width: 1.2rem;
    height: 1.2rem;
}
h1{
    text-align: center;
    font-family: sans-serif;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h3{
    color: rgba(0, 0, 0, 0.576);
    font-family: sans-serif;  
}
.container{
    text-align: center;
}
.end1{
    width: 8rem;
    padding-top: 1rem;

}
.end2{
    width: 7rem;
    padding-top: 1rem;

}
footer{
    background-color: black;
  }

h4{
    color: #be9509;
}
 li{
    list-style: none;
    color: #be9509;
    
}

a{
    text-decoration: none;
    color: #be9509;
}
.footer_inner ul{
    padding: 0!important;
}
















































































































